body {
  margin: 0;
  font-family: $font-body;
  color: $body-color;
  font-size: $font-size-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;

  &:not(.button) {
    color: $link-color;
    transition: .1s color ease;

    &:hover {
      color: $link-hover-color;
    }
  }
}

input {
  font-size: inherit;

  &::placeholder {
    opacity: .4;
  }
}

h1, h2, h3, h4, h4, h6{
  font-family: $font-title;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-green;
}